<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<%= link_to 'Edit', edit_position_path(@position), class: "btn btn-primary m-1" %> |
<%= link_to 'Back', positions_path, class: "btn btn-primary m-1" %>
