<h1>Editing Enologist</h1>

<%= render 'form', enologist: @enologist %>

<%= link_to 'Show', @enologist, class: "btn btn-primary m-1" %> |
<%= link_to 'Back', enologists_path, class: "btn btn-primary m-1" %>
