<h1>Editing Magazine</h1>

<%= render 'form', magazine: @magazine %>

<%= link_to 'Show', @magazine, class: "btn btn-primary m-1" %> |
<%= link_to 'Back', magazines_path, class: "btn btn-primary m-1" %>
