<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine), class: "btn btn-primary m-1" %> |
<%= link_to 'Back', wines_path, class: "btn btn-primary m-1" %>
